.ta1 th,.ta1 td {
    border: 1px solid;
}
.ta1 th {
    background-color: yellow;
}
.a {
    color: firebrick;
}
.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.hidden {
    display: none;
}